.itemCard {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 20%;
}

.item {
  align-items: center;
  display: flex;
  margin-bottom: 100px;
}

.cardLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 40%;
  text-align: center;
}

.cardRight {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1 0 50%;
  padding-left: 25px;
  padding-right: 25px;
}

.languages {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.languages div {
  color: #97c8eb;
  margin: 3px;
  padding: 4px;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 5px;
}

.verticalLine {
  border-left: 2px solid #dcdcdc;
  height: 200px;
  border-radius: 100px;
}
.horizontalLine {
  margin-left: 30px;
  margin-right: 30px;
  border-top: 1px solid #3aafb9;
  width: 100%;
  height: 2px;
  border-radius: 100px;
}

.skillPage {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 100px;
}

.skillColumn {
  width: 300px;
  text-align: center;
}

.leftAlign {
  display: inline-block;
  text-align: left;
}

.skillColumn p {
  margin-bottom: 5px;
}

.date {
  color: #037971;
}

.projectName {
  display: flex;
  
}