@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap");

@media only screen and (max-width: 1400px) {
  .itemCard {
    margin: 0;
    padding: 0;
  }
}

@media only screen and (max-width: 1100px) {
  .typing {
    font-size: 50px;
  }
  .itemCard {
    margin-left: 200px;
    margin-right: 200px;
    flex-direction: column;
  }
  .cardLeft {
    margin-bottom: 0;
  }
  .cardRight {
    margin-bottom: 0;
  }
  .verticalLine {
    display: none;
  }
  .horizontalLine {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .item {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 850px) {
  .itemCard {
    margin-left: 0px;
    margin-right: 0px;
    flex-direction: column;
  }
  .cardLeft {
    margin-bottom: 0;
  }
  .cardRight {
    margin-bottom: 0;
  }
  .verticalLine {
    display: none;
  }
  .skillPage {
    flex-direction: column;
    align-items: center;
  }
  .skillColumn {
    margin-bottom: 40px;
  }
  .leftAlign {
    text-align: center;
  }
}

body {
  font-family: "Titillium Web", sans-serif;
}

h1 {
  text-align: center;
}

.typing {
  font-size: 150px;
  color: #001011;
}

.experienceLogo {
  height: 150px;
  margin-bottom: 10px;
}

.contact {
  display: flex;
  justify-content: space-between;
}

.contactImage {
  margin-top: 100px;
  height: 100px;
  transition: transform 0.2s;
}

.imageContainer {
  flex: 1 0 33%;
  align-items: center;
  text-align: center;
}

.contactImage:hover {
  cursor: pointer;
  transform: scale(1.1);
}

h1 {
  font-size: 120px;
  color: #093a3e;
}

h2 {
  font-size: 40px;
  color: #3aafb9;
}

p {
  font-size: 18px;
}

.center {
  width: 50%;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.titlePage {
  height: 100vh;
}

.navbar {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  justify-content: space-around;
  background: transparent;
}

.navbar:hover {
  display: flex;
}

.navLink:hover {
  cursor: pointer;
}

.up {
  position: -webkit-sticky;
  position: fixed;
  bottom: 10px;
  right: 10px;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.resume {
  border-style: solid;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  text-align: center;
  margin-bottom: 100px;
}

.resumeImage {
  height: 100%;
}

.resume:hover {
  cursor: pointer;
  animation-name: bounce;
  animation-timing-function: ease;
}

.up:hover {
  cursor: pointer;
  animation-name: bounce;
  animation-timing-function: ease;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-style: solid; */
  margin-bottom: 100px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

highlight {
  color: #7494ea;
  font-weight: bold;
}
